# Copy to .env and change these for production
JWT_SECRET=mysecretkey123
POSTGRES_USER=idp
POSTGRES_PASSWORD=idp
POSTGRES_DB=idpdb
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
GF_SECURITY_ADMIN_PASSWORD=admin
